body {
    font-family: "Nunito", sans-serif;
    background-color: #ebf5ff;
    color: #5a9bd4;
}

h1 {
    color: #1a456e;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 50px;
}

.carousel {
   text-align: center;
}

.carousel i {
    font-size: 5em;
    color: #007bff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.carousel i:hover {
    transform: scale(1.2);
}

