h1 {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
}
h4 {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-top: 10px;
}

p {
    text-align: center;
}


.menu ul {
    list-style-type: none;
    padding: 16px;
    margin: 15px;
    text-align: center;
    border-top: 1px solid #EEE9E8;
    border-bottom: 1px solid #EEE9E8;
    display: flex;
    justify-content: center;
    gap: 60px;
}

li a {
    color: #222;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
}

li a:hover {
    color: #ccc;
}

.dropdown-btn {
    display: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    font-size: large;
    border-top: 1px solid #EEE9E8;
    border-bottom: 1px solid #EEE9E8;
    padding: 5px;
}


@media screen and (max-width: 500px) {
    .menu ul {
        display: none;
        width: 100%;
    }

    .dropdown-btn {
        display: block;
    }
}


footer {
    background-color: #f9f9f9;
    margin-top: 30px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    font-family: Poppins;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .icons a {
    display: flex;
    color: #222;
    text-decoration: none;
    font-size: 13px;
    margin-left: 25px;
  }

  .icons {
    display: flex;
  }