h1 {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
}
h4 {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-top: 10px;
}

p {
    text-align: center;
}


.menu ul {
    list-style-type: none;
    padding: 16px;
    margin: 15px;
    text-align: center;
    border-top: 1px solid #EEE9E8;
    border-bottom: 1px solid #EEE9E8;
    display: flex;
    justify-content: center;
    gap: 60px;
}

li a {
    color: #222;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
}

li a:hover {
    color: #ccc;
}

.dropdownmenu-items.show {
  display: block;
}

.dropdownmenu-items {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 35px;
  line-height: 3;
  text-align: center;
  padding: 25px;
  z-index: 2;
}

.dropdown-menu {
  position: relative;
}

.dropdownmenu-items li a {
  color: #222;
  font-family: Poppins;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

.dropdownmenu-items li a:hover {
  color: #ccc;
}

.close-button {
  display: none;
  border: none;
  font-size: large;
  background-color: #222;
  color: #f9f9f9;
  z-index: 2;
  position: absolute;
}

.dropdown-btn {
  display: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  font-size: large;
  border-top: 1px solid #EEE9E8;
  border-bottom: 1px solid #EEE9E8;
  padding: 5px;
  margin-bottom: 20px;
}


@media screen and (max-width: 500px) {
  .menu ul {
      display: none;
      width: 100%;
  }

  .dropdown-btn {
      display: flex;
  }
}


.hero {
    position: relative; /* Ensure the parent is positioned */
    background: url('/IMG_9533.png') lightgray 0px 0px / cover no-repeat;
    /* background-size: cover; is redundant due to / cover in the background shorthand */
    opacity: 1;
    background-position: center;
    margin-bottom: 30px;
    height: 40vh; /* Set a height to the hero to ensure there's space for the container */
}

.container {
    position: absolute; /* Use absolute positioning within the relative parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 220px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    background-color: rgba(249, 249, 249, 0.85);
    box-sizing: border-box;
    box-shadow: 4px rgba(249, 249, 249, 0.85);
    ;
}

.content {
    padding: 10px;
    text-align: center;
    
   
}

.content h2 {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.content p {
    color: #222;
    text-align: center;
    font-family: "Source Serif Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 200% */
    letter-spacing: 0.7px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button {
    display: inline-flex;
    height: 47px;
    padding: 1px 36px 1px 34px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #222;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    background-color: #ccc;
}

.highlight-header  {
    color: #222;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-top: 1px solid #EEE9E8;
    border-bottom: 1px solid #EEE9E8;
}


.highlights {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f9f9f9;
    margin-top: 15px;
  }
  
  .highlight-item {
    position: relative;
    width: calc(33.333% - 20px); /* Adjust based on desired spacing */
    height: 0; /* Initial height to 0 */
    padding-top: calc(33.333% - 20px); /* Same as width to maintain aspect ratio */
    margin: 10px;
    overflow: hidden; /* Ensures the image doesn't spill outside the container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .highlight-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .highlight-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; /* Change as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    text-decoration: none; /* Removes underline from links */
    font-size: 15px; /* Adjust based on your design */
    font-family: "Libre Baskerville";
    text-transform: uppercase;
     }

  
  .highlight-link:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
  }

  @media (max-width: 768px) {
    .highlight-item {
      width: calc(50% - 20px); /* Adjust for two items per row on smaller screens */
      padding-top: calc(50% - 20px); /* Adjust if using method 1 */
    }
  }

  @media (max-width: 500px) {
    .highlight-item {
      width: 100%; /* One item per row on smaller screens */
      padding-top: 100%; /* Maintain square aspect ratio */
      margin: 5px 0; /* Adjust margin as needed */
    }
  }

  .instagram-embed {
    display: flex;
    justify-content: center;
  }

  footer {
    background-color: #f9f9f9;
    margin-top: 30px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    font-family: Poppins;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .icons a {
    display: flex;
    color: #222;
    text-decoration: none;
    font-size: 13px;
    margin-left: 25px;
  }

  .icons {
    display: flex;
  }

  