body {
    font-family: "Nunito", sans-serif;
    background-color: #ebf5ff;
    color: #5a9bd4;
    background-image: url('/src/pexels-madison-inouye-1831234.jpg');
}

h1 {
    color: #1a456e;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
h4 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.hero {
    background-image: url('/IMG_9533.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    opacity: 0.7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: white;
    padding: 20px;
    color: #1a456e;
    opacity: 0.8;
}